<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <title>Smart Shop</title>

</head>

<body>

    <div class="banner">
        <img src="./img/banner.jpg" alt="banner">
    </div>
    <div>
        <h1 class="title">Smart Shop - Ofertas! </h1>
    </div>

    <main id="app">

        <section class="items">
            <h4>Selecione os produtos</h4>
            <div v-for="product in products" class="product" v-on:click="product.active = !product.active"
                :class="product.active ? 'selected' : '' ">
                <div class="photo">
                    <img :src=product.photo>
                </div>
                <div class="description">
                    <span class="name">{{ product.name }}</span>
                    <span class="price">$ {{ product.price }}</span>
                    <div class="quantity-area" v-if="product.active">
                        <button @click.stop="product.quantity--" :disabled="product.quantity <= 1">-</button>
                        <span class="quantity">{{ product.quantity }}</span>
                        <button @click.stop="product.quantity++">+</button>
                    </div>
                </div>
            </div>
        </section>

        <section class="summary" v-if="total()>0">
            <strong>Carrinho:</strong>
            <table>
                <thead>
                    <tr>
                        <th>Item</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="product in products">
                        <template v-if="product.active">
                            <td>{{ product.quantity + 'x ' + product.name }}</td>
                            <td>{{ (product.quantity * product.price).toFixed(2) }}</td>
                        </template>
                    </tr>

                    <tr>
                        <th>Total</th>
                        <th>{{ total() }}</th>
                    </tr>
                </tbody>
            </table>
        </section>
    </main>

    <div>
        <footer class="footer">
            <p> &#169; Copyright 2023</p>
        </footer>
    </div>

    <script src="scripts.js"></script>
</body>

</html>